body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: gray;
}
header {
    background: blueviolet;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: gray;
    padding: 100px 20px;
    color: black;
    font-size: 24px;
}

.buttons {
    margin-top: 60px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid white;
    color: pink;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}